*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* Navigation Bar */

header{
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: relative;
  }

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }  
nav,h1{
    margin: 0;
    padding: 0;
    font-size: 24px;
  }

.container{
    width: 100%;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 53, 97);
    align-items: center;
    justify-content: center;
}
.contents{
    display: flex;
    align-items: center;
    justify-content: center;
}
#left, #right{
    width: 20rem;
    min-height: 30rem;
    margin:20px;
    border:2px dashed #fff
}
.list{
    background-color: cornflowerblue;
    margin: 30px;
    height: 50px;
    color: #fff;
    align-items: center;
    cursor: grab;
    padding: 1rem;
}
.reset{
    display: flex;
    align-items: center;
    justify-content: center;
}
.resetButton{
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resetButton:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

/* Notification */

.notification {
    position: fixed;
    top: 60px;
    right: 10px;
    padding: 10px 20px;
    background-color: rgba(46, 176, 181, 0.8);
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
}

.notification.show {
    opacity: 1;
}

@media screen and (max-width: 700px) {
    #left,
    #right {
      width: 25rem;
      min-height: 200px;
    }
    .contents{
        flex-direction: column;
    }
  
    .list {
      margin: 15px;
    }
    .notification{
        font-size: small;
    }
}
  
@media screen and (max-width: 400px) {
    .list {
      margin: 10px;
    }
}